<html>
  <head>
    <title>Users List</title>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      {{#each users}}
        <li>{{this.name}} - {{this.email}}</li>
      {{/each}}
    </ul>
    <script>
      var a = 1 ; var b = 5;
    </script>
  </body>

</html>